body {
  margin: 0;
  text-align: center;
  font-family: Comfortaa,monospace;
}

.GIS{
  text-decoration: decoration;
}

h1 {
  width: 20%;
  margin: 0 auto 0 auto;
  font-family: Sacramento,cursive;
  font-size: 40px;
}


.top-container {
  background-color: white;
  position: relative;
  padding-top: 100px;
}

.topcloud{
  position: absolute;
  right :300px;
  top:50px;
}

.botcloud{
  position: absolute;
  left :300px;
  bottom: 300px;
}

.middle-container {
  padding-top: 50px;
}

.photo-profile{
  width :150px;
  height: 150px;
}

.images-skills {
  width : 100px;
  height: 100px;
}

.bot-container {
  background-color: white;
}
